dcmdata/apps/dcm2xml.dtd

<!ELEMENT fileformat ( meta-header, dataset ) >

<!ELEMENT meta-header ( element+ ) >
<!ATTLIST meta-header xfer NMTOKEN #REQUIRED >
<!ATTLIST meta-header name CDATA #IMPLIED >

<!ELEMENT dataset ( element | sequence )* >
<!ATTLIST dataset xfer NMTOKEN #REQUIRED >
<!ATTLIST dataset name CDATA #IMPLIED >

<!ELEMENT element ( #PCDATA ) >
<!ATTLIST element binary NMTOKEN "no" >
<!ATTLIST element len NMTOKEN #REQUIRED >
<!ATTLIST element loaded NMTOKEN "yes" >
<!ATTLIST element name CDATA #IMPLIED >
<!ATTLIST element tag CDATA #REQUIRED >
<!ATTLIST element vm NMTOKEN #REQUIRED >
<!ATTLIST element vr NMTOKEN #REQUIRED >

<!ELEMENT sequence ( item* | pixel-item* ) >
<!ATTLIST sequence card NMTOKEN #REQUIRED >
<!ATTLIST sequence len NMTOKEN #IMPLIED >
<!ATTLIST sequence name CDATA #IMPLIED >
<!ATTLIST sequence tag CDATA #REQUIRED >
<!ATTLIST sequence vr NMTOKEN #FIXED "SQ" >

<!ELEMENT item ( element | sequence )* >
<!ATTLIST item card NMTOKEN #REQUIRED >
<!ATTLIST item len NMTOKEN #IMPLIED >

<!ELEMENT pixel-item ( #PCDATA ) >
<!ATTLIST pixel-item binary NMTOKEN #FIXED "yes" >
<!ATTLIST pixel-item len NMTOKEN #REQUIRED >
<!ATTLIST pixel-item loaded NMTOKEN "yes" >
